.card {
    border-radius: 16px;
    position: relative;
    height: min(100%, 32rem);
    width: min(100%, 24.1rem);
    :nth-child(3) {
        font-size: 34px;
        font-weight: bold;
    }

    :nth-child(4) {
        font-size: 16px;
    }

    .pin {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(20, 20, 22, 0.2);;
        width: auto;
        height: auto;
        text-align: center;
        border-radius: 50px;
    }
    
    .text {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.text-big {
    font-size: 34px;
}

.text-medium {
    font-size: 20px;
}

.text-small {
    font-size: 14px;
}