.card {
    border-radius: 20px;
    i {
        color: #FFD166;
    }
}

img {
    border-radius: 20px;
}

.text-gray {
    color: #84878B;
}

.text-more-gray {
    color: #3B3E44;
}

.text-big {
    font-size: 24px;
}

.text-medium {
    font-size: 16px;
}

.text-small {
    font-size: 14px;
}