<div class="w-[270px] mr-5 card dm-sans-font sm:w-full overflow-hidden bg-slate-100 rounded-lg border border-gray-200 shadow-md">
    <div class="w-full p-3">
        <img class="rounded-lg" [src]="img || './assets/img/no-img.png'"/>
    </div>
    <div class="mx-4">
        <i class="fa-solid fa-star"></i>3.14 (100)
    </div>
    <div class="mx-4 my-3">
        <p class="mb-3 popins-font font-bold text-more-gray">Comfort space</p> 
        <div class="price-label dm-sans-font font-medium px-2 py-1 rounded-lg">$210</div>
    </div>
    <div class="mx-4 mb-3 font-medium text-gray">
        <p>1.2 km from town center</p>
    </div>
    <div class="mx-4 mb-3 font-normal text-gray">
        <p><i class="fa-solid fa-location-dot"></i> Turkey, Mamaris</p>
        <p><i class="fa-solid fa-building"></i> Room available: 375</p>
    </div>
</div>
