.card {
    background-image: url(../../../assets/img/offer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-heavy {
    font-family: 'Gilroy-Heavy', sans-serif;
}

.text-bold {
    font-family: 'Gilroy-Bold', sans-serif;
}

input:focus {
    outline: none;
}