/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.rob-font {
    font-family: 'Roboto', sans-serif;
}

.dm-sans-font {
    font-family: 'DM Sans', sans-serif;
}

.popins-font {
    font-family: 'Poppins', sans-serif;
}

.open-sans-font {
    font-family: 'Open Sans', sans-serif;
}