.card {
    border-radius: 18px;
    position: relative;
    .rate {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        width: 2.5rem;
        height: 0.92rem;
        font-size: x-small;
        text-align: center;
        border-radius: 15px;
        color: rgb(255, 0, 0);
    }

    .text {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.text-big {
    font-size: 40px;
}

.text-small {
    font-size: 20px;
}

img {
    display: inline;
}